.sprite {
	width: 82px;
	height: 145px;
}

.right {
	background-image: url('standing_guy.png');
	background-size: inherit;
}

.left {
	background-image: url(http://atomicrobotdesign.com/blog_media/css-sprite/standing-left.png);
}

.walk-right {
	background-image: url(walking_guy_frames.png);/*walking_guy_frames.png*/
	-webkit-animation: walk 1.9s steps(8) infinite;
	-moz-animation: walk 1.9s steps(8) infinite;
	-ms-animation: walk 1.9s steps(8) infinite;
	-o-animation: walk 1.9s steps(8) infinite;
	animation: walk 1.9s steps(8) infinite;
}

.walk-left {
	background-image: url(http://atomicrobotdesign.com/blog_media/css-sprite/walk-left.png);
	-webkit-animation: walk 1.9s steps(8) infinite;
	-moz-animation: walk 1.9s steps(8) infinite;
	-ms-animation: walk 1.9s steps(8) infinite;
	-o-animation: walk 1.9s steps(8) infinite;
	animation: walk 1.9s steps(8) infinite;
}

@-webkit-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -687px; }
}
@-moz-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -687px; }
}
@-ms-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -687px; }
}
@-o-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -687px; }
}
@-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -687px; }
}